* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
}

.container {
    margin: auto;
}

.box {
    display: flex;
}

.box-1 {
    display: flex;
    flex-direction: column;
}

.white-box {
    flex: 1;
    width: 100px;
    border: 3px solid black;
    background-color: rgb(224, 230, 204);
}

.red-box {
    height: 200px;
    width: 200px;
    background-color: rgb(224, 52, 58);
    border: 3px solid black;
}

.bottom {
    display: flex;
}

.blue-box {
    height: 100px;
    /* width: 100px; */
    flex: 1.1;
    background-color: rgb(1, 116, 183);
    border: 3px solid black;
}

.grey-box {
    height: 100px;
    /* width: 170px; */
    flex: 1.9;
    background-color: rgb(224, 230, 204);
    border: 3px solid black;
}

.mini {
    display: flex;
    flex-direction: column;
}

.white {
    width: 30px;
    height: 50px;
    border: 3px solid black;
    background-color: rgb(224, 230, 204);
}

.yellow {
    width: 30px;
    height: 50px;
    border: 3px solid black;
    background-color: yellow;
}